/* Dashboard Container */
.dashboard-container {
    /* background: #f9f9f9; */
    border-radius: .5rem;
    box-shadow: 0px 4px 62px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .form-table {
    overflow: auto;
  }

  /* Header */
  h1 {
    text-align: center;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Filter Section */
  .filter-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 23px !important;
    color: #555;
  }
  
  select {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  @media screen and (min-width: 600px) {
    select {
      width: 15% !important;
    }
  }

  /* Table Styling */
  .refund-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    margin: auto;
  }
  
  .refund-table th,
  .refund-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .refund-table th {
    background-color: #f5f5f5;
    font-weight: 700;
  }
  
  /* .refund-table tr:nth-child(even) {
    background: #f9f9f9;
  } */
  
  /* Action Buttons */
  button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 3px;
  }
  
  .approve-btn {
    background: #28a745;
    color: white;
  }
  
  .approve-btn:hover {
    background: #218838;
  }
  
  .reject-btn {
    background: #dc3545;
    color: white;
  }
  
  .reject-btn:hover {
    background: #c82333;
  }
  