/* Global Styles */
/* body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
} */

.dashboard {
  display: flex;
  height: 100vh;
}

/* Sidebar */
/* .sidebar {
  width: 20%;
  background-color: #1e1e2f;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-title {
  font-size: 18px;
  font-weight: bold;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 10px 0;
  cursor: pointer;
  color: #bbb;
}

.sidebar nav ul li.active {
  color: #fff;
  background-color: #007bff;
  border-radius: 8px;
  padding-left: 15px;
}

.upgrade-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

/* Main Content */
/* .main-content {
  flex: 1;
  padding: 10px;
} */

/* Header */
.header {
  /* display:flex; */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-controls input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Cards Section */
.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

}

.card {
  flex: 1;
  background-color: #C7F8FF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 15px;
}

.card-icon {
  font-size: 30px;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 50%;
}

.card-info p {
  margin: 5px 0;
}

.card-info h3 {
  margin: 0;
}

.increase {
  color: green;
  font-size: 12px;
}

/* Charts Section */
.charts {
  display: flex;
  gap: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  color:#666;
  
}

.chart {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  color:#666;
}

.chart-graph {
  margin-top: 20px;
  height: 100px;
  background-color: #fff;
  border-radius: 8px;
}

.blue {
  background-color: #007bff;
}

.green {
  background-color: #28a745;
}

.dark {
  background-color: #333;
}

h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}
