* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  box-sizing: border-box !important;
}

body {
  background-color: #f5f5f5;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff !important;
  overflow: hidden;
}

.header ul li {
  float: left;
}

.header ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.btn_one i {
  color: black;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  line-height: 45px;
  left: 10px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.sidebar_menu {
  position: fixed;
  left: -290px;
  height: 98vh;
  top: 0;
  width: 235px;
  margin: 5px 0 5px 5px;
  border: 1px solid #d2d6da !important;
  border-radius: 10px;
  background-color: #ffffff;
  /* box-shadow: 0 0 6px rgba(11, 11, 11, 0.5); */
  transition: all 0.3s linear;
}

.sidebar_menu .logo {
  position: absolute;
  width: 100%;
  line-height: 55px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  height: 60px;
}

.sidebar_menu .logo a {
  position: absolute;
  left: 27px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.sidebar_menu .btn_two i {
  font-size: 20px;
  line-height: 60px;
  position: absolute;
  left: 188px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.sidebar_menu .menu {
  position: absolute;
  width: 100%;
  top: 70px;
}

.menu ul {
  list-style: none;
}

.sidebar_menu .menu li {
  margin: 10px;
  padding: 10px 28px;
  left: 2px;
  border-radius: 10px;
}

.sidebar_menu .menu li i,
a {
  text-decoration: none;
  font-size: 15px;
}

.sidebar_menu .menu li i {
  padding-right: 8px;
}

.sidebar_menu .social_media {
  position: absolute;
  left: 27%;
  bottom: 40px;
}

.sidebar_menu .social_media i {
  color: black;
  opacity: 0.5;
  padding: 0 5px;
}

#check {
  display: none;
}

.menu .active,
.MyDiv .side-btn a li:hover {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(172, 172, 187, 1) 100%, rgba(0, 212, 255, 1) 100%);
  color: white;
}

.btn_one i:hover {
  font-size: 35px;
}

.sidebar_menu .social_media i:hover {
  opacity: 1;
  transform: scale(1.1);
}

#check:checked~.sidebar_menu {
  left: 0;
  margin: 5px 0 5px 7px;
  border: 2px solid rgba(23, 21, 21, 0.9);
  border-radius: 10px;
}


#check:checked _ .sidebar_menu .btn_two i {
  opacity: 1;
}


/* user, partner, vehicle table css */

.table-container {
  max-width: 100%;
  background: #fff;
  border-radius: 0 0 8px 8px;
  overflow: auto;
}

.tables-manage {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px !important;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 40px;
  box-shadow: 0px 4px 62px rgba(0, 0, 0, 0.1) !important;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: center;
  border: 1px solid #bcbcbc;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

th {
  background: #4a4a4a;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

tr:hover {
  background: #f9f9f9;
}

.status-online {
  color: #fff;
  background-color: #28a745;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
}

.status-offline {
  color: #fff;
  background-color: #6c757d;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
}

.edit-link {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.edit-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {

  th,
  td {
    font-size: 12px;
    padding: 10px;
  }
}

/* user management */
.add-user {
  text-align: right;
  margin-right: 0.6em;
}

.add-btn {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  background-color: #4a4a4a;
  color: white;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}


.add-btn:hover {
  background-color: #8e8e8e; /* Darker gray */
    color: white;
}

/* add user form */
.user-form {
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 0 auto;
}

.user-form input[type=text],
input[type=password],
input[type=email],
input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid #d2d6da;
  border-radius: 10px;
}

.user-form input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus {
  /* background-color: #ddd; */
  outline: none;
}

.user-form h1 {
  font-weight: 600;
  margin-bottom: 10px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* dropdown */
.dropbtn {
  background: linear-gradient(90deg, rgba(2, 0, 20, 0.4221455718037749) 0%, rgba(68, 191, 45, 0.7953649450231481) 0%, rgba(21, 218, 155, 1) 74%, rgba(98, 198, 123, 0.6728578225160257) 100%);
  color: white;
  padding: 5px;
  width: 5rem;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0 0 20px 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 20px 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
}